In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('E-Commerce_train.xlsx')
df_test = pd.read_excel('E-Commerce_test.xlsx')

In [4]:
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8994,8995,D,Ship,3,1,217,3,low,F,1,4177,1
8995,8996,F,Ship,5,3,232,3,medium,M,3,4526,0
8996,8997,A,Ship,4,5,260,3,medium,F,6,4221,0
8997,8998,B,Ship,4,2,184,3,medium,F,5,5931,1
8998,8999,C,Ship,5,4,145,4,low,M,4,4790,0

In [15]:
df.drop(columns=['ID', 'Gender'], inplace= True)

In [19]:
df.Warehouse_block.unique()
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df['Warehouse_block'] = label_encoder.fit_transform(df['Warehouse_block'])

In [ ]:
data.Mode_of_Shipment.unique()
data.Mode_of_Shipment.value_counts()
from sklearn.preprocessing import OneHotEncoder

data_encoded = data[['Mode_of_Shipment']]
ohe = OneHotEncoder(handle_unknown = 'ignore')
data_encoded = pd.DataFrame(ohe.fit_transform(data_encoded).toarray())
data = data.join(data_encoded)